[submodule "catppuccin-alacritty"]
	path = dot-config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
[submodule "catppuccin-bat"]
	path = dot-config/bat/themes/catppuccin
	url = https://github.com/catppuccin/bat.git
[submodule "dot-config/wofi/catppuccin"]
	path = dot-config/wofi/catppuccin
	url = https://github.com/quantumfate/wofi
